<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
        <form class = "file-input" method="POST" action="/upload" enctype="multipart/form-data">
            <h2>Upload File</h2>
            <input type="file" name="input"></input>
            <button type="submit">Convert</button>
        </form>
</body>
